<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>Suivi</title>
    
  </head>
  <body>
	<br>
	<a href="http://localhost:5000/sport">Sport</a><br>
	<a href="http://localhost:5000/travail">Travail</a><br>
	<a href="http://localhost:5000/jeu">Jeu</a><br>
	<a href="http://localhost:5000/film">Film</a><br>
	<a href="http://localhost:5000/autre">Autre</a><br><br><br>
	
	<a href="http://localhost:5000/qbe">Qualité de bien être</a><br>
	
  </body>
</html>