<!doctype html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title>Suivi sport</title>
<script>
		var jsonfile ={{jsonfile}};
	</script>

</head>
 
<body>
	<form method="POST" name="test">
	<label>Date : </label>
	<input type="text" id="date" name="date1" ><br><br>
	<label>Activité : </label>
	<input type="text" id="activite" name="activite1" ><br><br>
	<label>Ressenti : </label>
	<input type="text" id="ressenti" name="ressenti1" ><br><br>
	<input type="submit" value="Envoyer"><br><br>
	
	<a href="{{ url_for('index') }}">Index</a>


	

</body>
</html>